<a href="https://colab.research.google.com/github/memetics19/Sms_spam_collection-/blob/master/SMS_Spam_Collection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing all the libraries

In [35]:
import pandas as pd 
import string 
import re
import nltk 
from nltk.stem import PorterStemmer
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

In [36]:
doc = open("SMSSpamCollection").read()
doc[0:500]

"ham\tGo until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...\nham\tOk lar... Joking wif u oni...\nspam\tFree entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's\nham\tU dun say so early hor... U c already then say...\nham\tNah I don't think he goes to usf, he lives around here though\nspam\tFreeMsg Hey there darling it's been 3 week's now and no word bac"

In [0]:
parsed_data=doc.replace('\t','\n').split('\n')

In [38]:
label_list=parsed_data[0::2]
msg_list=parsed_data[1::2]
print(label_list[0:5])
print(msg_list[0:5])

['ham', 'ham', 'spam', 'ham', 'ham']
['Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...', 'Ok lar... Joking wif u oni...', "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's", 'U dun say so early hor... U c already then say...', "Nah I don't think he goes to usf, he lives around here though"]

# Read the Dataset

In [0]:
df=pd.DataFrame({
    'label':label_list[:-1],
    'sms':msg_list
    
})

In [40]:
df.head()

  label                                                sms
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [0]:
data=pd.read_csv("SMSSpamCollection",sep="\t",header=None)
data.columns=['label','sms']

In [42]:
data.head()

  label                                                sms
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

# Shape of the Datasets

In [43]:
print(f"input data as {len(data)} rows and {len(data.columns)} columns")

input data as 5572 rows and 2 columns

# Length of the ham and spam

In [44]:
print(f'ham= {len(data[data["label"]=="ham"])}')

ham= 4825

In [45]:
print(f'spam= {len(data[data["label"]=="spam"])}')

spam= 747

Let's check for missing data

In [46]:
print(f"number of missing label = {data['label'].isnull().sum()}")
print(f"number of missing messages  = {data['sms'].isnull().sum()}")

number of missing label = 0
number of missing messages  = 0

# Removing the Punctuation 
Punctuation is present in the string library. Let's see the punctuations present in it.

In [47]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

using list comprehension feature removing the punctuation

In [0]:
def rem_punctate(txt):
  txt_nopunt="".join([ c for c in txt if c not in string.punctuation])
  return txt_nopunt

In [0]:
data['sms_clean']=data['sms'].apply(lambda x: rem_punctate(x))

In [50]:
data.head()

  label  ...                                          sms_clean
0   ham  ...  Go until jurong point crazy Available only in ...
1   ham  ...                            Ok lar Joking wif u oni
2  spam  ...  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  ...        U dun say so early hor U c already then say
4   ham  ...  Nah I dont think he goes to usf he lives aroun...

[5 rows x 3 columns]

# Tokenization 
splitting text into list of words

In [0]:
def tokenize(txt):
  tokens=re.split("\W+",txt)# "W+" is represented for non words and "+" represents one or more words
  return tokens

In [0]:
data["sms_clean_tokenized"]=data["sms_clean"].apply(lambda x:tokenize(x))

In [53]:
data.head()

  label  ...                                sms_clean_tokenized
0   ham  ...  [Go, until, jurong, point, crazy, Available, o...
1   ham  ...                     [Ok, lar, Joking, wif, u, oni]
2  spam  ...  [Free, entry, in, 2, a, wkly, comp, to, win, F...
3   ham  ...  [U, dun, say, so, early, hor, U, c, already, t...
4   ham  ...  [Nah, I, dont, think, he, goes, to, usf, he, l...

[5 rows x 4 columns]

# Removing the stop words

stop words are the words are "is","the","am".. etc...

It should be removed because it will make the data less which is feasible for machine learning model

In [0]:
stop_words=nltk.corpus.stopwords.words('english')

let's see 10 stop words

In [55]:
stop_words[0:10]

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're"]

let's see all the stopwords

In [56]:
stop_words

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [0]:
def rem_stopwords(txt_tokenized):
  txt_clean=[word for word in txt_tokenized if word not in stop_words]
  return txt_clean

In [0]:
data["sms_no_sw"]=data["sms_clean_tokenized"].apply(lambda x: rem_stopwords(x))

In [59]:
data.head()

  label  ...                                          sms_no_sw
0   ham  ...  [Go, jurong, point, crazy, Available, bugis, n...
1   ham  ...                     [Ok, lar, Joking, wif, u, oni]
2  spam  ...  [Free, entry, 2, wkly, comp, win, FA, Cup, fin...
3   ham  ...      [U, dun, say, early, hor, U, c, already, say]
4   ham  ...  [Nah, I, dont, think, goes, usf, lives, around...

[5 rows x 5 columns]

#Stemming
processing into root word by using porter stemmization algorithm

In [0]:
ps=PorterStemmer()

In [0]:
def stemming(tokenized_text):
  text=[ps.stem(word) for word in tokenized_text]
  return text

In [0]:
data["stemmed_data"]=data["sms_no_sw"].apply(lambda x: stemming(x))

In [63]:
data.head()

  label  ...                                       stemmed_data
0   ham  ...  [Go, jurong, point, crazi, avail, bugi, n, gre...
1   ham  ...                       [Ok, lar, joke, wif, u, oni]
2  spam  ...  [free, entri, 2, wkli, comp, win, FA, cup, fin...
3   ham  ...      [U, dun, say, earli, hor, U, c, alreadi, say]
4   ham  ...  [nah, I, dont, think, goe, usf, live, around, ...

[5 rows x 6 columns]

# Lemmatization
 using WordNet Lemmatization algorithm

In [0]:
wn=nltk.WordNetLemmatizer()

In [0]:
def lemmatization(token_txt):
  text=[wn.lemmatize(word) for word in token_txt]
  return text

In [0]:
data['sms_tokenized']=data['sms_no_sw'].apply(lambda x:lemmatization(x))

In [67]:
data.head()

  label  ...                                      sms_tokenized
0   ham  ...  [Go, jurong, point, crazy, Available, bugis, n...
1   ham  ...                     [Ok, lar, Joking, wif, u, oni]
2  spam  ...  [Free, entry, 2, wkly, comp, win, FA, Cup, fin...
3   ham  ...      [U, dun, say, early, hor, U, c, already, say]
4   ham  ...  [Nah, I, dont, think, go, usf, life, around, t...

[5 rows x 7 columns]